*{
  margin:o;
  padding: 0;
}
body {
  overflow-x: hidden;
}
ul li {
  color: rgb(207, 51, 51);
  margin-left: 50px;
}
ul li :hover {
  cursor: pointer;
  color: #fff;
}

h2 {
  font-size: 1.1em;
  margin-top: 20px;
  padding-top: 20px;
}

/* cv */
.cv img {
  border-radius: 5px;
  box-shadow: 1px 1px 15px grey;
  opacity: 0.5;
}

.my_cv,
.projects {
  width: 200px;
  margin: 40px auto;
  box-shadow: 2px 2px 5px;
}
.cv {
  
  position: relative;
  display: flex;
  justify-content: space-around;
}

.cv .pdf {
  position: absolute;
  top: 40%;
  left: 35%;
  color: red;
  font-size: 40px;
  z-index: 1;
}

.cv span {
  font-size: 0.3em;
}
figcaption {
  width: 80%;
  border-radius: 5px;
  box-shadow: 1px 1px 15px grey;
}
/* Skills */

/* hard skills */
.hard-skills {
  margin-top: 30px;
  background: rgb(80, 79, 79);
  color: #fff;
}

.bar {
  margin-right: 20px;
}
.progress {
  width: 80%;
  height: 10px;
}

.html i {
  font-size: 24px;
  color: coral;
}
.css i {
  font-size: 24px;
  color: rgb(59, 7, 248);
}
.bootstrap i {
  font-size: 24px;
  color: rgb(142, 9, 219);
}
.javascript i {
  font-size: 24px;
  color: rgb(145, 136, 20);
}
.vuejs i {
  font-size: 24px;
  color: rgb(6, 138, 23);
}
.nodejs i {
  font-size: 24px;
  color: rgb(37, 207, 22);
}
.express i {
  font-size: 24px;
  color: rgb(177, 174, 6);
}
.mysql i {
  font-size: 24px;
  color: rgb(64, 122, 230);
}
.git i {
  font-size: 24px;
  color: rgb(16, 16, 17);
}
/* barre html */
.progress-html {
  width: 0px;
  margin-left: -15px;
  height: 10px;
  animation: progress-html 3s both;
}
@keyframes progress-html {
  0% {
    width: 0%;
    color: grey;
  }
  
  100% {
    width: 90%;
    background: coral;
    ;
  }
}
/* barre css */
.progress-css {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-css 3s both;
  }
  @keyframes progress-css {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width: 90%;
      background: rgb(32, 10, 231);
      ;
    }
  }
/* barre bootstrap */
.progress-bootstrap {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-bootstrap 3s both;
  }
  @keyframes progress-bootstrap {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width: 70%;
      background: rgb(248, 4, 228);
      ;
    }
  }
  /* barre javascript */
.progress-javascript {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-javascript 3s both;
  }
  @keyframes progress-javascript {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width: 80%;
      background: rgb(154, 165, 7);
      ;
    }
  }
/* barre VueJs */
.progress-vuejs {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-vuejs 3s both;
  }
  @keyframes progress-vuejs {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width:80%;
      background: rgb(15, 158, 22);
      ;
    }
  }
/* barre nodejs */
.progress-nodejs {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-nodejs 3s both;
  }
  @keyframes progress-nodejs {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width:60%;
      background: rgb(14, 241, 45);
      ;
    }
  }
/* barre express */
.progress-express {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-express 3s both;
  }
  @keyframes progress-express {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width: 50%;
      background: rgb(154, 165, 7);
      ;
    }
  }
/* barre mysql */
.progress-mysql {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-mysql 3s both;
  }
  @keyframes progress-mysql {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width: 60%;
      background: rgb(10, 131, 201);
      ;
    }
  }

  /* barre git*/
.progress-git {
    width: 0px;
    margin-left: -15px;
    height: 10px;
    animation: progress-git 3s both;
  }
  @keyframes progress-git {
    0% {
      width: 0%;
      color: grey;
    }
    
    100% {
      width: 70%;
      background: rgb(8, 8, 8);
      ;
    }
  }  
/* Soft skills */
.soft-skills {
    background: rgb(204, 203, 197);
    margin-top: 30px;
    color: rgb(12, 12, 12);
  }
.yes {
    width: 100px;
    height: 60px;
    background: black;
    margin: 10px auto;
    animation: yes 3s ease-in-out both;
}
@keyframes yes {
    from {
        transform-origin: right;
        transform: skew(40deg);
        
    }
     
}
.serieux {
    width: 100px;
    height: 40px;
    background: rgb(20, 213, 220);
  font-size: 1px;
  animation: serieux 1s ease-in-out both;
}
@keyframes serieux {
  0% {
    font-size: 1px;
    transform: translate(100%, -80px);
  }

  100% {
    font-size: 25px;
    transform: translate(10%, 0px);
    color: red;
  }
}
.rigoureux {
  font-size: 1px;
  animation: rigoureux 1s ease-in-out 1s both;
}
@keyframes rigoureux {
  0% {
    font-size: 1px;
    transform: translate(-10%, -200px);
  }

  100% {
    font-size: 25px;
    transform: translate(15%, 5px);
    color: blue;
  }
}
.applique {
    font-size: 1px;
    animation: applique 1s ease-in-out 2s both;
  }
  @keyframes applique {
    0% {
      font-size: 1px;
      transform: translate(100%, -300px);
    }
  
    100% {
      font-size: 25px;
      transform: translate(30%, 0px);
      color: rgb(97, 104, 6);
    }
  }

.autonome {
    font-size: 1px;
    animation: autonome 1s ease-in-out 3s both;
  }
  @keyframes autonome {
    0% {
      font-size: 1px;
      transform: translate(-10%, -200px);
    }
  
    100% {
      font-size: 25px;
      transform: translate(45%, 5px);
      color: rgb(54, 51, 53);
    }
  }

  .organise {
    font-size: 1px;
    animation: organise 1s ease-in-out 4s both;
  }
  @keyframes organise {
    0% {
      font-size: 1px;
      transform: translate(100%, -300px);
    }
  
    100% {
      font-size: 25px;
      transform: translate(55%, 0px);
      color: rgb(97, 104, 6);
    }
  }

.courtois {
    font-size: 1px;
    animation: courtois 1s ease-in-out 5s both;
  }
  @keyframes courtois {
    0% {
      font-size: 1px;
      transform: translate(-10%, -200px);
    }
  
    100% {
      font-size: 25px;
      transform: translate(65%, 5px);
      color: rgb(26, 209, 241);
    }
  } 
  .discret {
    font-size: 1px;
    animation: discret 1s ease-in-out 6s both;
  }
  @keyframes discret {
    0% {
      font-size: 1px;
      transform: translate(100%, -300px);
    }
  
    100% {
      font-size: 25px;
      transform: translate(75%, 0px);
      color: rgb(215, 224, 85);
    }
  }
/* Projects */

.projects-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects-cards-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: white;
  box-shadow: 1px 1px 10px grey;
  border-radius: 50%;
  margin: 20px;
}

.reservia {
  opacity: 0;
  animation: show 1s ease-in-out 0.5s both;
}
.ohmyfood {
  opacity: 0;
  animation: show 1s ease-in-out 1s both;
}
.chouette {
  opacity: 0;
  animation: show 1s ease-in-out 1.5s both;
}
.orinoco {
  opacity: 0;
  animation: show 0.5s ease-in-out 2s both;
}
.peckoko {
  opacity: 0;
  animation: show 1s ease-in-out 2.5s both;
}
.groupomania {
  opacity: 0;
  animation: show 1s ease-in-out 3s both;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects-cards-card {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.projects-cards-card img {
  width: 150px;
  border-radius: 10%;
}
/* ---- Footer ---- */
footer {
  padding-bottom: 40px;
}
footer h3 {
  font-size: 1.2em;
}
footer h3 i {
  margin-right: 20px;
}
footer p {
  font-size: 0.8em;
  color: rgb(168, 164, 164);
}
.form {
  padding: 20px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*
a, a:visited, a:hover{
    color: white;
    list-style: none;
}
*/
/* --- Medias Queries ---- */

@media screen and (max-width: 500px) {
  .contact {
    flex-direction: column;
  }
  li {
    margin-right: 0px;
  }
}
